<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 5.2.4//EN" "http://www.springframework.org/dtd/spring-beans-5.2.4.dtd">

<beans>
	<bean id = "triangle" class = "com.pivanchev.Triangle"> 
		<property name = "points">
			<list>
				<ref bean = "zeroPoint"/>
				<ref bean = "point2"/>
				<ref bean = "point3"/>			
			</list>	
		</property>	
	</bean>	
	
	<bean id = "zeroPoint" class = "com.pivanchev.Point">
		<property name = "x" value = "0"/>
		<property name = "y" value = "0"/>
	</bean>

	<bean id = "point2" class = "com.pivanchev.Point">
			<property name = "x" value = "-20"/>
			<property name = "y" value = "0"/>
	</bean>
	
	<bean id = "point3" class = "com.pivanchev.Point">				
			<property name = "x" value = "0"/>
			<property name = "y" value = "20"/>
	</bean>

</beans>